<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORDER FORM</title>
    <link rel="stylesheet" type="text/css" href="./css/form.css">
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui-1.12.0.css">
    <script src="./js/jquery-1.12.4.js"></script>
    <script src="./js/jquery-ui.js"></script>
</head>
<body>
<form action="/orderForm" method="post">
    <table id="header" width="100%" align="center">
        <tr>
            <td id="CUSTID" rowspan="2" width="25%"><B>CUST ID </B><input type="text" name="CUSTID" value="{{ custid }}" readonly></td>
            <td id="CUSTNAME" colspan="2"><B>CUST NAME </B><input type="text" name="CUSTNAME" value="{{ custname }}"readonly></td>
            <td id="ORDNUM" rowspan="2"width="33%"><B>ORDER NUMBER </B><input type="text" name="ORDNUM" value="{{ordnum}}"readonly></td>
        </tr>
        <tr>
            <td id="TELFAX" colspan="2"><B>TEL/FAX </B><input type="text" value="{{telfax}}"readonly></td>
        </tr>
        <tr>
            <td id="ORDDT" rowspan="2"><B>ORD DT </B><input type="text" value="{{orddt}}"readonly></td>
            <td id="SHIPTO" colspan="2"><B>SHIP TO NAME </B><input type="text"value="{{shipto}}"readonly></td>
            <td id="SHIPDT" rowspan="2"><B>SHIPPING DATE </B><input type="text"value="{{shipdt}}"readonly></td>
        </tr>
        <tr><td id="ADD1" colspan="2"><B>ADDRESS 1 </B><input type="text"value="{{add1}}"readonly></td></tr>
        <tr>
            <td id="CONFDT" rowspan="2"><B>CONFIRM DT </B><input type="text"value="{{confdt}}"readonly></td>
            <td id="ADD2" colspan="2"><B>ADDRESS 2 </B><input type="text"value="{{add2}}"readonly></td>
            <td><B>REQUIRED TIME </B><input type="text" id="REQTIME" value="{{reqtime}}"readonly></td>
        </tr>
        <tr>
            <td id="CITY"><B>CITY </B><input type="text"value="{{city}}" readonly></td>
            <td id="STATE"><B>STATE </B><input type="text"value="{{state}}"readonly></td>
            <td id="ZIP"><B>ZIP </B><input type="text"value="{{zip}}"readonly></td>
        </tr>
        <tr>
            <td id="PONUM"><B>PO NUMBER </B><input type="text"name="PONUM"value="{{ponum}}" placeholder="PO Number"></td>
            <td id="SM" colspan="2"><B>S/M </B><input type="text"name="SM"value="{{sm}}"placeholder="SM"></td>
            <td id="SHIPVIA"><B>SHIP VIA </B><input type="text"value="{{shipvia}}"readonly></td>
        </tr>
        <tr style="display:none;">
            <td><input type="text" id="RATING" value="{{rating}}" readonly hidden></td>
            <td><input type="text" id="TRUESQFT" value="{{truesqft}}" readonly hidden></td>
            <td><input type="text" id="OVERRIDE" value="{{overide}}" readonly hidden></td>
            <td><input type="text" id="PLUSONWIDTH" value="{{plusonwidth}}" readonly hidden></td>
            <td><input type="text" id="NOSHORDISCADD" value="{{noshor}}" readonly hidden></td>
            <td><input type="text" id="TWOVNVVALD" value="{{twovnvvald}}" readonly hidden></td>
            <td><input type="text" id="CONTFAUX" value="{{contfaux}}" readonly hidden></td>
            <td><input type="text" id="rowlength" name="rowlength" readonly hidden></td>
            <td><input type="text" id="date" name="date" readonly hidden></td>
        </tr>
    </table>
    <table id="body" width="100%" align="center">
        <tr>
            <th width="1.5%"><B>LN</B></th>
            <td width="8.1%"><B>PROD</B></td>
            <td width="6.8%"><B>PROF</B></td>
            <td width="12.9%"><B>COLOR</B></td>
            <td width="2.5%"><B>QTY</B></td>
            <td width="4%"><B>WIDTH</B></td>
            <th width="1.5%"></th>
            <td width="4%"><B>HEIGHT</B></td>
            <td width="3%"><B>MT</B></td>
            <td width="3%"><B>VAL</B></td>
            <td width="4%"><B>VALADD</B></td>
            <td width="4%"><B>VAL RT</B></td>
            <td width="2.5%"><B>CT</B></td>
            <td width="2%"><B>TC</B></td>
            <td width="2%"><B>HD</B></td>
            <td width ="26%"><B>Description/Comments</B></td>
        </tr>
    </table>
    <INPUT type="button" value="Add Row" onclick="addRow('body')" />

    <INPUT type="button" value="Delete Row" onclick="deleteRow('body')" />

    <table id="footer" align="right">
        <tr><td>TOTAL</td><td><input id="total" type="number" readonly></td></tr>
        <tr><td><INPUT type="button" value="Calculate Total" onclick="subtotal('body');timeEst('body');" /></td><td><input type="submit" value="Submit Order" /></td></tr>
    </table>
</form>
<script src="./js/order.js"></script>
<script src="./js/autocomplete.js"></script>
</body>
</html>