<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PICK TICKET</title>
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui-1.12.0.css">
    <link rel="stylesheet" type="text/css" href="./css/picktickets.css">
    <script src="./js/jquery-1.12.4.js"></script>
    <script src="./js/jquery-ui.js"></script>
</head>
<body>
<table class = "sub" width="100%" align="center">
    <tr><td width="20%">{{datetime}}</td><td><b>{{ordnum}}</b></td><td bgcolor="#d3d3d3"><b>* PICK TICKET *</b></td><td><b>{{ordnum}}</b></td></tr>
    <tr><td bgcolor="#d3d3d3">CUSTOMER ID</td><td colspan="2"><b>{{custname}}</b></td><td colspan="2" bgcolor="#d3d3d3">SHIP VIA</td></tr>
    <tr><td rowspan="2"><b>{{custid}}</b></td><td colspan="2">{{address}}</td><td colspan="2" rowspan="2"><b>{{shipvia}}</b></td></tr>
    <tr><td>{{address2}}</td></tr>
    <tr><td bgcolor="#d3d3d3">PO NUMBER</td><td colspan="2">{{citystatezip}}</td><td></td></tr>
    <tr><td>{{ponum}}</td><td bgcolor="#d3d3d3">PAYMENT</td><td colspan="2" bgcolor="#d3d3d3">SHIPPING INSTRUCTION</td></tr>
    <tr><td bgcolor="#d3d3d3">ORDER DATE</td><td rowspan="2">{{payment}}</td><td colspan="2">{{shipinstruct}}</td></tr>
    <tr><td>{{orddate}}</td><td colspan="2">{{shipinstruct2}}</td></tr>
</table>
<table class = "sub" border="1">
{{{data}}}
</table>
<table class = "sub">
    <tr><td colspan = "2" style="text-align:left;">ADDITIONAL COMMENT</td><td>{{totalweight}} LB</td></tr>
    <tr class="blank_row" ><td colspan="3"></td></tr><tr class="blank_row"><td colspan="3"></td></tr>
    <tr><td colspan = "3" style="text-align:left;">FREIGHT POLICY: {{freight}}</td></tr>
    <tr class="blank_row"><td colspan="3"></td></tr>
    <tr><td style="text-align:left;">PICKED BY</td><td style="text-align:left;">CHECKED BY</td><td style="text-align:left;">DATE/TIME</td></tr>
</table>
<script>
    function show(element){
        var info = "info"+element;
        var desc = "desc"+element;
        if(document.getElementById(info).style.display == 'none') document.getElementById(info).style.display = 'block';
        else document.getElementById(info).style.display = 'none';
        if(document.getElementById(desc).style.display=='none')document.getElementById(desc).style.display = 'block';
        else document.getElementById(desc).style.display = 'none';
        if(document.getElementById("desctitle").style.display=='none')document.getElementById("desctitle").style.display = 'block';
    }
</script>
<script>
    function compare(i,j){
        var a = "CheckValue"+i;
        var b = "image"+i;
        if(parseInt(document.getElementById(a).value)== j) document.getElementById(b).style.display='block';
        else document.getElementById(b).style.display='none';
    }
</script>
</body>