<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PICK TICKET</title>
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui-1.12.0.css">
    <link rel="stylesheet" type="text/css" href="../css/picktickets.css">
    <script src="../js/jquery-1.12.4.js"></script>
    <script src="../js/jquery-ui.js"></script>
</head>
<body>
<form id="processpicks" action="pickticket" method="post" onsubmit="return checkForm()">
<table class = "fixed" id="upper" width="100%" align="center">
    <tr class='gray'><td width="15%">PRINT DATE</td><td width="30%">SHIP TO NAME</td><td width="20%">SHIP VIA</td><td width="20%">CUST ID</td><td rowspan="2"><input type="button" onclick="location.href='/routes/ticketList';" style="height:70px; width:120px; background-color:red; color:white;" value="GO BACK"></td></tr>
    <tr><td>{{datetime}}</td><td>{{custname}}</td><td>{{shipvia}}</td><td><b>{{custid}}</b></td></tr>
    <tr class='gray'><td>ORDER DATE</td><td>PO NUMBER</td><td>FRT POLICY</td><td>SO NUMBER</td><td rowspan="2"><input type="submit" value="UPDATE" style="height:50px; width:120px; background-color:green;color:white;" onclick="checkiffinished();"><div><label style="position:relative;font-size:0.5em;"><input type="checkbox" id="cbox" onchange="document.getElementById('complete').value = document.getElementById('cbox').checked; "> To Data</label></div></td></tr>
    <tr><td>{{orddate}}</td><td>{{ponum}}</td><td>{{freight}}</td><td><b>{{ordnum}}</b></td></tr>
<!--
    <tr class='gray'><td>PRINT DATE</td><td width="30%">CUST ID</td><td>SHIP VIA</td><td>SO NUMBER</td><td rowspan="2"><input type="button" onclick="location.href='/routes/ticketList';" style="height:50px; width:80px; background-color:red" value="Go Back"></td></tr>
    <tr><td>{{datetime}}</td><td><b>{{custid}}</b></td><td>{{shipvia}}</td><td><b>{{ordnum}}</b></td></tr>
    <tr class='gray'><td>ORDER DATE</td><td>SHIP TO NAME</td><td>FRT POLICY</td><td>PO NUMBER</td><td rowspan="2"><input type="submit" value="UPDATE" style="height:50px; width:80px; background-color:green" onclick="checkiffinished();"><div><label style="position:relative;font-size:0.5em;"><input type="checkbox" id="cbox" onchange="document.getElementById('complete').value = document.getElementById('cbox').checked; "> Check If Complete</label></div></td></tr>
    <tr><td>{{orddate}}</td><td>{{custname}}</td><td>{{freight}}</td><td>{{ponum}}</td></tr>
    -->
</table>

    <input name="sonum" id="sonum" value='{{ordnum}}' type="hidden">
    <input name="totallines" id="tl" value='{{totallines}}' type="hidden">
    <input name="complete" id="complete" value="false" type="hidden">
<table class = "under" id="lower">
    <tr class='gray'><td>ADDITIONAL COMMENT </td><td>SHIP INSTRUCTION</td></tr>
    <tr><td><input type="text" name="addcomment" value="{{addcomment}}" maxlength="30"></td><td>{{shipinstruct}}</td></tr>
   <!-- <tr class="blank_row" ><td colspan="3"></td></tr><tr class="blank_row"><td colspan="3"></td></tr>-->
    <tr><td>{{totalweight}} LB</td><td>{{shipinstruct2}}</td></tr>
    <tr>        <input type="file" accept="image/*;capture=camera"/>
        <input type="submit"/></tr>
</table>
<table class = "sub" id='body' border="1">
    <tr class='gray'><th>LN</th><th width='7%'>ORDERED</th><th>UOM</th><th width='35%' colspan="2">ITEM NO</th><th>PICKED</th><th>PACK</th><th id='desctitle' style='display:none;'>ITEM DESCRIPTION/PACKAGING</th></tr>
    {{{data}}}
</table>

    <table id="dimension" class="shipping">
            <tr><td>TYPE</td><td>LENGTH</td><td>WIDTH</td><td>HEIGHT</td><td>WEIGHT</td></tr>
        {{{shippingdata}}}
    </table>
    <div>TOTAL WEIGHT: <input type="text" id="totalweight"><input type="number" id="totalrows" name="totalrows" value={{totalrows}} hidden></div>
    <INPUT type="button" value="ADD ROW" style="height:50px; width:80px;" onclick="addRow('dimension')" /><INPUT type="button" value="DELETE" style="height:50px; width:80px;" onclick="deleteRow('dimension')" /><INPUT type="button" value="ADD PACK" style="height:50px; width:80px;" onclick="countItems()" />
<br>
    <!-- <div style="float: right">
         <label><input type="checkbox" id="cbox" onchange="document.getElementById('complete').value = document.getElementById('cbox').checked; "> To Data</label>
     <input type="button" class="navigationbutton" onclick="location.href='/routes/ticketList';" style="background-color:red" value="Go Back"></a><input type="submit" class="navigationbutton" value="UPDATE" style="background-color:green" onclick="checkiffinished();">
    </div>-->
</form>
<script src='../js/pticket.js'></script>
</body>