<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PICK TICKET</title>
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui-1.12.0.css">
    <link rel="stylesheet" type="text/css" href="./css/picktickets.css">
    <script src="./js/jquery-1.12.4.js"></script>
    <script src="./js/jquery-ui.js"></script>
</head>
<body>
<table class = "sub" width="100%" align="center">
    <tr><td width="20%">{{datetime}}</td><td><b>{{ordnum}}</b></td><td class='gray'><b>* PICK TICKET *</b></td><td><b>{{ordnum}}</b></td></tr>
    <tr><td class='gray'>CUSTOMER ID</td><td colspan="2"><b>{{custname}}</b></td><td colspan="2" class='gray'>SHIP VIA</td></tr>
    <tr><td rowspan="2"><b>{{custid}}</b></td><td colspan="2">{{address}}</td><td colspan="2" rowspan="2"><b>{{shipvia}}</b></td></tr>
    <tr><td>{{address2}}</td></tr>
    <tr><td class='gray'>PO NUMBER</td><td colspan="2">{{citystatezip}}</td><td></td></tr>
    <tr><td>{{ponum}}</td><td class='gray'>PAYMENT</td><td colspan="2" class='gray'>SHIPPING INSTRUCTION</td></tr>
    <tr><td class='gray'>ORDER DATE</td><td rowspan="2">{{payment}}</td><td colspan="2">{{shipinstruct}}</td></tr>
    <tr><td>{{orddate}}</td><td colspan="2">{{shipinstruct2}}</td></tr>
</table>
<form id="processpicks" action="pickticket" method="post" onsubmit="return checkForm()">
<table class = "sub" border="1">
{{{data}}}
</table>
    <input name="totallines" id="tl" value='{{totallines}}' type="hidden">
    <input type="button" onclick="location.href='ticketList';" style="height:50px; width:80px; background-color:red" value="Go Back"></a><input type="submit" value="Submit" style="height:50px; width:80px; background-color:green">
</form>
<table class = "sub">
    <tr><td colspan = "2" style="text-align:left;">ADDITIONAL COMMENT</td><td>{{totalweight}} LB</td></tr>
    <tr class="blank_row" ><td colspan="3"></td></tr><tr class="blank_row"><td colspan="3"></td></tr>
    <tr><td colspan = "3" style="text-align:left;">FREIGHT POLICY: {{freight}}</td></tr>
    <tr class="blank_row"><td colspan="3"></td></tr>
    <tr><td style="text-align:left;">PICKED BY</td><td style="text-align:left;">CHECKED BY</td><td style="text-align:left;">DATE/TIME</td></tr>
</table>
<script src='./js/pticket.js'></script>
</body>