{{#if user}}
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="./css/basic.css">
    <link rel="stylesheet" type="text/css" href="./css/shoppingcart.css">
</head>
<body>
<form action="/customers/confirmOrder" method="post">
<div style="display: inline;vertical-align: top;float:left;width:50%;">PO Number:<input type="text" name="PONUM" style='width:40%' value="{{ponum}}" placeholder="Purchase Order Number"><br>SM Number:<input type="text" name="SMNUM" style='width:40%;' value="{{smnum}}" placeholder="Side Mark Number"><br>Delivery Method:<input type="text" name="delivery" style='width:40%;' value="{{delivery}}" placeholder="Delivery Method"></div><div style="display: inline;vertical-align: top;">Special Instructions:<textarea name="instructions" cols="60" rows="2" placeholder="Special Instructions">{{instructions}}</textarea></div>
    <input type="number" id="rowlength" name="rowlength" readonly hidden>
    <table id="body">
        <thead><tr><th width="4%"><B>LN</B></th><th>Item</th><th>Quantity</th><th>Action</th></tr></thead>
        <tbody>
            {{{data}}}
        </tbody>
    </table>
    <input type="submit" value="Confirm and Send Order" onclick="document.getElementById('rowlength').value = document.getElementById('body').rows.length;">
</form>
    <script src="./js/jquery-1.12.4.js"></script>
    <script src="./js/shopcart.js"></script>
</body>




{{else}}
    <div class="jumbotron">
        <h1>You are not logged in</h1>
        <p>Sign in and view your profile!</p>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Sign in!
            </a>
        </p>
    </div>

{{/if}}